html {
  scroll-padding-top: 70px;
}

.wrapper {
  /* background: linear-gradient(to right, RGB(0,0,0), RGB(255,255,255), RGB(0,0,0)); */
  /* background-image: URL("https://images.unsplash.com/photo-1566305977571-5666677c6e98?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1497&q=80"); */
  background-image: URL("https://images.unsplash.com/photo-1579492450119-80542d516179?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  /* background-image: URL("https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80"); */
  background-size: cover;
  background-attachment: fixed;
  /* font-family: "Glory", sans-serif; */
  font-family: "Oxygen", sans-serif;
  /* font-family: "Quicksand", sans-serif; */
  color: black;
  border: black 1px;
}

h2 {
  font-size: xx-large;
  font-weight: bold;
  position: relative;
}

.container {
  padding: 3rem 3rem 3rem 3rem;
}

#custom-nav {
  background-color: rgba(255, 255, 255, 0.75);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

#about {
  margin-top: 70px;
  padding-bottom: 1rem;
  text-align: center;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  /* background: rgba(255, 255, 255, 0.5); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  /* border: rgba(255, 0, 255) 1px solid; */
}

#about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

#headshot img {
  max-width: 100%;
}

#bio {
  text-align: justify;
}

#bio p {
  font-size: 1.25rem;
}

#projects {
  margin-top: 5rem;
  background: linear-gradient(
    135deg,
    rgba(204, 255, 0, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  /* background: rgba(255, 255, 255, 0.5); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
}

#projects a {
  font-weight: bold;
}

.card-img-overlay {
  background-color: RGB(0, 0, 0, 0.5);
}

.card-img {
  height: 16em;
  width: auto;
  overflow: hidden;
}

#contact-etc {
  margin-top: 5rem;
  background: linear-gradient(
    135deg,
    rgba(102, 51, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  /* background: rgba(255, 255, 255, 0.5); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
}

#contact-form {
  width: 100%;
  height: auto;
}

#contact-form h2 {
  text-align: center;
}

#fs-frm {
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
}

.form-group {
  min-width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

#message {
  width: 100%;
  flex-grow: 2;
}

#submit {
  color: black;
  border-color: black;
  background-color: transparent;
}

#submit:hover {
  color: white;
}

#etc {
  text-align: center;
}

#resume {
  padding-bottom: 1rem;
}

#resume-link {
  font-size: 1.25rem;
}

.icon {
  width: 45px;
  height: 45px;
  margin-right: 1.5em;
}

footer {
  height: 5em;
}

#back-to-top {
  position: absolute;
  bottom: 1rem;
  right: -2rem;
  border-color: black;
}

#back-to-top:hover {
  background-color: transparent;
}

#back-to-top a {
  color: black;
}
